# Learning Panda

### Getting Started Documentation from : https://pandas.pydata.org/docs/getting_started/overview.html

### Useful video: https://www.youtube.com/watch?v=vmEHCJofslg

In [110]:
import pandas as pd
import numpy as np

data = pd.read_csv('Video_Games_Sales_as_at_22_Dec_2016.csv') #to read a csv

# data = pd.read_excel('filename.xlsx')
# data = pd.read_csv('filename.txt', delimiter='\t') specify a delimiter here in case of a text file with delimiter

#### To read only the first 5 records, to quicky have a feel of the data in the dataset

In [ ]:
f5 = data.head(6) #by default it displays 5, but we can define a number
f5

#### To read only the last 5 records

In [ ]:
l5 = data.tail(3) #by default it displays 5, but we can define a number
l5

#### Some common functions

#### To get the headers

In [ ]:
##To get the headers
headers = data.columns
print(headers)

#### To read each columns

In [ ]:
##To read each column
cr5 = data['Platform'][0:5]
cs = data[['Platform','Genre','Publisher']]

print(cs)

#### To print each row

In [ ]:
r3 = data.iloc[0:4] #the number after : is exlusive 
print(r3)

#### Reading a specific location

In [ ]:
location = data.iloc[2,0]
print(location)

#### Read some rows with itterow and for loop

In [ ]:
for index, rows in data.iterrows():
  print(index,rows['Genre'])

#### Using the loc function to get specific data

In [ ]:
print(data.loc[data['Platform'] == 'Wii'])

#### To get the statistical information of some columns

In [ ]:
want = data[['Platform','Publisher','Genre','Global_Sales']]
want.describe()

#### Sorting our data

In [ ]:
have = data[['Name','Platform','Year_of_Release']]
data.sort_values(['Name','Platform','Year_of_Release'], ascending=[0,1,1]) #0=descending and 1=ascending

### Making Changes to our data

#### Creating a column

In [ ]:
data.head()

In [ ]:
data["Total_Sales"] = data["NA_Sales"] + data["EU_Sales"] + data["JP_Sales"] + data["Other_Sales"] + data["Global_Sales"]
data["Total_Ratings"] = data["Critic_Score"] / data["Critic_Count"]
data.head()

In [126]:
#Another way of doing the total_sales
data["Total_Sales"] = data.iloc[:,5:10].sum(axis=1)
data.head()

                       Name Platform  ...  Rating Total_Sales
0                Wii Sports      Wii  ...       E      165.07
1         Super Mario Bros.      NES  ...     NaN       80.48
2            Mario Kart Wii      Wii  ...       E       71.04
3         Wii Sports Resort      Wii  ...       E       65.54
4  Pokemon Red/Pokemon Blue       GB  ...     NaN       62.75

[5 rows x 17 columns]

#### For dropping a column

In [ ]:
#For dropping a column: 
data = data.drop(columns=["Total_Sales"])
data.head()

#### Re-arranging the columns

In [ ]:
cols = list(data.columns.values)
data = data[cols[0:2] + [cols[-1]]]
data.head(11)

#### For filtering of data, we can use data.loc

In [ ]:
top_games = data.loc[data['Total_Ratings'] > 20]  #conditional statements AND=& , OR=| and seperate multiple condition with parenthesis
top_games = top_games.reset_index(drop=True) #To get rid of the old index and assign a fresh new index, we can also use inplace=True to conserve some memory
top_games.head()

#### To remove certain values from a column

In [ ]:
dontneed = data.loc[~data['Platform'].str.contains('Wii')]
dontneed.head()

#### To use regex=True

In [ ]:
need = data.loc[data['Platform'].str.contains('PS3|PS4', regex=True)] #use flags=re.I to ignore the casing (upper or lower)
need.head()

In [ ]:
#To get names begining with certain letter or words
need2 = data.loc[data['Name'].str.contains('^Poke[a-z]*', na=False, regex=True)] #use na=False to ignore the NaN values
need2.head()

#### Conditional Changes

In [ ]:
#Changing the values in a column
change = data.loc[data['Name'].str.contains('^Poke[a-z]*', na=False, regex=True)]
change.loc[change['Publisher'] == 'Nintendo', 'Publisher'] = 'VBA'
change

#### Aggregate Statistical Analysis

In [127]:
data.head()

                       Name Platform  ...  Rating Total_Sales
0                Wii Sports      Wii  ...       E      165.07
1         Super Mario Bros.      NES  ...     NaN       80.48
2            Mario Kart Wii      Wii  ...       E       71.04
3         Wii Sports Resort      Wii  ...       E       65.54
4  Pokemon Red/Pokemon Blue       GB  ...     NaN       62.75

[5 rows x 17 columns]

In [150]:
#We can use sum(), mean() and count()

cols = list(data.columns.values)
keep = data[[cols[1]] + [cols[3]] + [cols[-1]]]

sum = keep.groupby(['Genre']).sum().sort_values('Total_Sales', ascending=False)
sum

              Total_Sales
Genre
Action            3489.45
Sports            2663.27
Shooter           2105.39
Role-Playing      1869.01
Platform          1655.85
Misc              1605.69
Racing            1457.57
Fighting           895.01
Simulation         780.68
Puzzle             485.59
Adventure          475.28
Strategy           348.73